<%- include('header') -%>

<div class="categoriacss" id="categoriacss">

    <body>
        <header >
        <h1>Categorías</h1> 
        </header>
        <div id="contenedor" class="contenedor">
        <div>
            <img src="img/New-Balance-logo.jpg" alt="logo 1">
            <div class="informacion">
                <button ><a href="/catalogo">New Balance</a></button>
            </div>
        </div>
        <div>
            <img src="img/nike_logo.jpg" alt="logo 2">
            <div class="informacion">                  
                <button ><a href="/catalogo">Nike</a></button>
            </div>
        </div>
        <div>
            <img src="img/timberland_logo.jpg" alt="logo 3">
            <div class="informacion">                   
                <button ><a href="/catalogo">Timberland</a></button>
            </div>
        </div>
        <div>
            <img src="img/retro1_logo.jpg" alt="logo 4">
            <div class="informacion">
                <button ><a href="/catalogo">Jordan Retro</a></button>
            </div>
        </div>
        <div>
            <img src="img/tn_logo.png" alt="logo 5">
            <div class="informacion">
                <button ><a href="/catalogo">Nike Tn</a></button>
            </div>
        </div>
        <div>
            <img src="img/adidas_logo.jpeg" alt="logo 6">
            <div class="informacion">
                <button ><a href="/catalogo">Adidas</a></button>
            </div>
        </div>
        <div>
            <img src="img/converse_logo.jpg" alt="logo 7">
            <div class="informacion">
                <button ><a href="/catalogo">Converse</a></button>
            </div>
        </div>
        <div>
            <img src="img/Skechers_logo.jpg" alt="logo 8">
            <div class="informacion">
                <button ><a href="/catalogo">Skechers</a></button>
            </div>
        </div>
        <div>
            <img src="img/vans_logo.jpg" alt="logo 9">
            <div class="informacion">
                <button ><a href="/catalogo">Vans</a></button>
            </div>
        </div>

</div>
    
</body>

<%- include('footer') -%>