<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
</body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light" style="width:750px">
<a class="navbar-brand" href="/" style="color: black;">Inicio</a>
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" id="nav-link" href="/productos" style="color: black;">Productos</a></li>
    <li class="nav-item"><a class="nav-link" id="nav-link" href="/categorias" style="color: black;">Categorías</a></li>
    <li class="nav-item"><a class="nav-link" href="/catalogo" style="color: black;">Catálogo</a></li>
</ul>
</nav>
</html>