<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h1>Lo lamento, el archivo solicitado no se ha encontrado...</h1>
<img src="img/404.png" class="principal">

<%- include('footer') -%>
</body>